name: Cargo Build

on:
  push:
    branches: [ "main" ]
    paths-ignore: 'README.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore: 'README.md'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:

    runs-on: ubuntu-latest

    name: Build Linux
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libasound2-dev libgtk-3-dev libsqlite3-dev
      - uses: Swatinem/rust-cache@v2
      - run: cargo build --release --verbose
      - name: Prepare directory to upload as an artifact
        run: |
          mkdir zip
          mkdir zip/OCP
          cp -R pieces zip/OCP/
          cp -R puzzles zip/OCP/
          cp -R translations zip/OCP/
          cp -R font zip/OCP/
          cp .env zip/OCP/
          cp ocp.db zip/OCP/
          cp *.ogg zip/OCP/
          cp settings.json zip/OCP/
          cp LICENSE zip/OCP/
          cp README.md zip/OCP/
          cp target/release/OCP zip/OCP/
      - uses: actions/upload-artifact@v4
        with:
          name: linux-release-bin
          path: zip/
          include-hidden-files: true

  build-mac:

    runs-on: macos-latest

    name: Build mac
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - run: cargo build --release --verbose
      - name: Prepare directory to upload as an artifact
        run: |
          mkdir zip
          mkdir zip/OCP
          cp -R pieces zip/OCP/
          cp -R puzzles zip/OCP/
          cp -R translations zip/OCP/
          cp -R font zip/OCP/
          cp .env zip/OCP/
          cp ocp.db zip/OCP/
          cp *.ogg zip/OCP/
          cp settings.json zip/OCP/
          cp LICENSE zip/OCP/
          cp README.md zip/OCP/
          cp target/release/OCP zip/OCP/
      - uses: actions/upload-artifact@v4
        with:
          name: macos-release-bin
          path: zip/
          include-hidden-files: true

  build-windows-64:

    runs-on: windows-latest

    name: Build Windows 64-bit
    steps:
      - uses: actions/checkout@v4
      - run: |
          rustup set auto-self-update disable
          rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2
      - name: Enable static CRT linkage
        run: |
          mkdir .cargo
          echo '[target.x86_64-pc-windows-msvc]' >> .cargo/config
          echo 'rustflags = ["-Ctarget-feature=+crt-static"]' >> .cargo/config
      - run: cargo build --release --verbose
      - name: Prepare directory to upload as an artifact
        run: |
          mkdir zip
          mkdir zip/OCP
          cp -R pieces zip/OCP/
          cp -R puzzles zip/OCP/
          cp -R translations zip/OCP/
          cp -R font zip/OCP/
          cp .env zip/OCP/
          cp ocp.db zip/OCP/
          cp *.ogg zip/OCP/
          cp settings.json zip/OCP/
          cp LICENSE zip/OCP/
          cp README.md zip/OCP/
          cp target/release/OCP.exe zip/OCP/
      - uses: actions/upload-artifact@v4
        with:
          name: windows-release
          path: zip/
          include-hidden-files: true

  build-windows-32:

    runs-on: windows-latest

    name: Build Windows 32-bit
    steps:
      - uses: actions/checkout@v4
      - run: |
          rustup set auto-self-update disable
          rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2
      - name: Enable static CRT linkage
        run: |
          mkdir .cargo
          echo '[target.i686-pc-windows-msvc]' >> .cargo/config
          echo 'rustflags = ["-Ctarget-feature=+crt-static"]' >> .cargo/config
      - run: cargo build --release --target i686-pc-windows-msvc --verbose
      - name: Prepare directory to upload as an artifact
        run: |
          mkdir zip
          mkdir zip/OCP
          cp -R pieces zip/OCP/
          cp -R puzzles zip/OCP/
          cp -R translations zip/OCP/
          cp -R font zip/OCP/
          cp .env zip/OCP/
          cp ocp.db zip/OCP/
          cp *.ogg zip/OCP/
          cp settings.json zip/OCP/
          cp LICENSE zip/OCP/
          cp README.md zip/OCP/
          cp target/i686-pc-windows-msvc/release/OCP.exe zip/OCP/
      - uses: actions/upload-artifact@v4
        with:
          name: windows-release-i686
          path: zip/
          include-hidden-files: true

